.app {

}

.topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 10px;
  box-shadow: 0 5px 5px hsla(0,0%,0%,.3);
  border-bottom: 1px hsl(0, 0%, 95%) solid;
  background: #fff;
  display: flex;
  gap: 10px
}

.btn {
  height: 40px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: darkblue;
  color: #fff;

  &#{&}_active {
    background-color: blue;
  }

  & &__status {
    font-style: italic;
    font-size: .8em;
  }
}

.debugInfo {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  width: 500px;
  background: #fff;
  padding: 10px;
  font-family: monospace;
  font-size: 14px;
  border: 2px hsl(0, 0%, 50%) dotted;
}

.mapHolder {
  width: 100vw;
  height: 100vh;
  background: hsl(0, 0%, 90%);
}



